h1{
    font-size:100px;
    border:groove medium black;
    border-radius:50px;
    background-color:#42f4df;
    color:#230fff;
    padding-left:10px;
    padding-right:10px;
}

h2{
    font-size:37.5px;
    border:double thick white;
    border-radius:10px;
    background-color:#002326;
    color:#eafdff;
    padding-left:10px;
    padding-right:10px;
}

h3{
    font-size:20px;
    border:inset thick black;
    border-radius:5px;
    background-color:#baffd7;
    color:#045e00;
    padding-left:10px;
    padding-right:10px;
}